
.videoPlayer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.videoPlayer > iframe{
    width: 100%;
    height: 100%;
}
@keyframes videoAnimationAppear {
    0% {
        width: 100%;
        height: 200px;
    }
    100% {
        width: 500px;
        height: 500px;
    }
}