.hamburger {
    display: none;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
.drop-menu {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--background);
    color: white;
    z-index: 100;
    transition: opacity 1s ease-out 0.5s, visibility 0s linear 1.5s;
    height: 0;
    width: 100%;
    transition: all 200ms ease-in-out;
    overflow: hidden;
}
.hamburger:has(input:checked)::before , .hamburger:has(input:checked)::after {
    left: 2px;
}
.hamburger::after ,  
.hamburger::before  {
    content: "";
    width: 14px;
    height: 2px;
    transform-origin: left center;
    background: var(--text-shades-text-600, #B7BAC8);
    border-radius: 9999px;
    transition: opacity 200ms ease-in-out , width 200ms ease-in-out , rotate 200ms ease-in-out , background-color 200ms ease-in-out;
    position: relative;
}
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    z-index: 10000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid var(--background-shades-background-300, #363844);
    background: rgba(54, 56, 68, 0.40);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger input {
    appearance: none;
    margin: 0;
    padding: 0;
    outline: none;
    pointer-events: none;
}
.hamburger:has(input:checked)::before {
    rotate: 45deg;
}
.hamburger:has(input:checked)::after {
    rotate: -45deg;
}
.hamburger input:checked {
    opacity: 0;
    width: 0;
}
.hamburger:has(input:checked) + .drop-menu {
    height: 100vh;
}
.dropDownContent > .companyLogo {
    padding: 2rem;
    border-bottom: 1px solid var(--background-shades-background-400);
}
.hamburgerBtn {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hamburgerBtn > .linearBtn > button , .hamburgerBtn > .navBtn > button{
    width: 100%;
    font-size: 1.25rem;
}
.dropDownContent ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 2rem;
}
.dropDownContent ul > li > a {
    color: var(--text);
    text-align: justify;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
}
.dropDownContent ul > li.selected > a {
    background: linear-gradient(180deg, #B226C5 0%, #7E41DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hamburgerContainer {
    display: none;
}
.dropdown-content {
    padding: 4rem 0;
}
@media screen and (max-width : 1100px) {
    .hamburgerContainer {
        display: block;
    }
    .companyLogo svg {
        width: 60px !important;
        height: 32px !important;
    }
}